Source: gitpkgtool
Section: misc
Priority: optional
Maintainer: shahada abubakar <shahada@abubakar.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
Homepage: https://github.com/dotsha747/gitpkgtool
Vcs-Git: https://github.com/dotsha747/gitpkgtool
Vcs-Browser: https://github.com/dotsha747/gitpkgtool

Package: gitpkgtool
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debhelper (>= 9)
Description: A tool to assist project versioning and packaging with git
 A tool to assist project versioning and packaging with git
